# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
bhumiprof/
bhumiprof

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# OS Files
.DS_Store
